
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div>
        <p class="p" id="p-one-r">Modelado</p>
    </div>

    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    En esta fase de la metodología se escogerá la técnica (o técnicas) 
                    más apropiadas para los objetivos marcados de la minería de datos. 
                    A continuación, y una vez realizado un plan de prueba para los modelos escogidos, 
                    se procederá a aplicar dichas técnicas sobre los datos para generar 
                    el modelo y por último se tendrá que evaluar si dicho modelo ha cumplido 
                    los criterios de éxito o no.
                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>