
<div class="page">

    <aside class="aside left">
        <section class="sect">
            
            <div class="div three">
                <a [routerLink]='"."' fragment="introduction" routerLinkActive="active" class="p three">Introducción</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="objetives" routerLinkActive="active" class="p three">Determinar los objetivos comerciales</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="enterprise" routerLinkActive="active" class="p three">Compilación de la información de la empresa</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="definition" routerLinkActive="active" class="p three">Definición de los objetivos comerciales</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="determination" routerLinkActive="active" class="p three">Determinación de los objetivos de la minería de datos</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="estate" routerLinkActive="active" class="p three">Estado del arte</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="plan" routerLinkActive="active" class="p three">Producción de un plan de proyecto</a>
            </div>
    
        </section>

        <div class="links">
            <div class="developers text">
                <p>2023 DataCoffee, Diseñado por Alexander Maestre</p>
            </div>
        </div>
        
    </aside>
    
</div>