
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Determinación de los objetivos de la minería de datos</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                Para obtener nuevos descubrimientos al procesar datos de agricultura 
                se deben incluir tecnologías modernas, sobre todo para manejar 
                la variedad de los datos. Para el análisis de estos mismos datos en 
                la agricultura se deben incorporar técnicas de procesamiento más eficaces, 
                ya que las variables involucradas en el rendimiento de cultivos contienen 
                distintos niveles de detalle. Distintos tipos de técnicas de minería de datos 
                han sido aplicados para extraer el mayor beneficio de la información relacionada 
                con la agricultura, mostrando esto que su implementación trae grandes oportunidades 
                para el desarrollo y optimización de los diferentes procesos dentro del ámbito agrícola.
                Una de las principales ventajas que ofrecen estas técnicas de minería de datos, 
                es la posibilidad de cuantificar la relación existente entre las variables 
                involucradas en el desarrollo de los distintos procesos agrícolas, 
                como lo son el tipo de suelo y sus minerales, las condiciones climáticas del 
                entorno y algún otro dato importante en la geografía colombiana. 
                Todo este proceso tiene como finalidad brindar a los agricultores de un mecanismo 
                con el cual puedan aprovechar de mayor manera los recursos, facilitar la toma de 
                decisiones y contribuir en el incremento de la producción de los cultivos.
            </p>
        </div>
    </section>

    <section class="sect three">
        <div class="r">
            <p class="p four r" id="p-four-r">
                Debido a la necesidad de incrementar el rendimiento en lo que respecta 
                a la producción de cultivos de café a nivel nacional, es necesario la 
                utilización de técnicas especiales como la minería de datos con el 
                objetivo de proporcionar mayores beneficios en el área de la agricultura, 
                facilitando el proceso de toma de decisiones el ámbito agrícola nacional 
                en lo referente al cultivo de café. De esta manera, se espera a futuro, 
                por medio del desarrollo de este modelo:
            </p>
            <ul>
                <li>
                    Construir un nuevo conjunto de datos con los atributos seleccionados.
                </li>
                <li>
                    Determinar que atributos influyen en el nivel de rendimiento de los cultivos de café.
                </li>
                <li>
                    Identificar el mayor rendimiento para los cultivos de café con los datos recolectados.
                </li>
                <li>
                    Diseñar un modelo predictivo por medio del conjunto de datos disponible.
                </li>
            </ul>
        </div>
    </section>
    
</article>