
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Determinar los objetivos comerciales</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/fixed.svg" alt="Not found">
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                El objetivo primordial de la minería de datos aplicada a este 
                proyecto es predecir de la manera más fiable posible la producción 
                en toneladas de cultivos de café a nivel nacional, a partir de la 
                información disponible. El objetivo es garantizar un mejor rendimiento 
                en la producción agrícola nacional y de esta manera realizar mejoras 
                en la siembra y recolección de cultivos de café en Colombia. 
                Con el avance de la tecnología en la comunicación ha llegado 
                al mismo tiempo un incremento en la producción de información. 
                También debemos tener en cuenta que para las empresas se ha generado 
                un interés por aquel conocimiento obtenido a partir del procesamiento de 
                la información que se ha recolectado a través de sus actividades comerciales y, 
                debido al beneficio que se obtiene con respecto a la obtención de nuevos conocimientos, 
                las bases de datos se han convertido en una fuente importante para la toma de decisiones 
                dentro de las organizaciones. 
            </p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                Con el fin de obtener mejores resultados en el procesamiento de todos estos datos, 
                surge la necesidad de utilizar las técnicas especializadas que nos brinda la minería 
                de datos. El objetivo de la minería de datos es obtener información comercial valiosa
                mediante el análisis de los datos contenidos en la base de datos de la empresa. 
                Por lo que podemos concluir, es de gran interés conocer las diferentes técnicas 
                para la minería de datos y cuáles de éstas nos proporcionaran mejores resultados. 
                El desarrollo de este proyecto pretende por medio de estas técnicas manipular las 
                diferentes variables que, al ser analizadas, facilitarán el proceso de toma de decisiones. 
            </p>
        </div>
    </section>
    
</article>