

<aside class="aside left">
    <section class="sect">

        <div class="sigueme">
            <div class="icons">
                <a href="#" class="icon">
                    <img src="../../assets/images/fb.svg" alt="Icon facebook">
                </a>
                <a href="#" class="icon">
                    <img src="../../assets/images/lkn.svg" alt="Icon linkdn">
                </a>
                <a href="#" class="icon">
                    <img src="../../assets/images/wp.svg" alt="Icon whatsapp">
                </a>
                <a href="#" class="icon">
                    <img src="../../assets/images/ytb.svg" alt="Icon youtube">
                </a>
            </div>
        </div>
    
        <div class="contactos">
            <div class="contact text">
                <a href="#" class="icon-text">
                    +57 3044842422
                </a>
                <a href="#" class="icon-text">
                    ajmaestretorres@gmail.com
                </a>
                <a href="#" class="icon-text">
                    twitter.com
                </a>
            </div>
        </div>

    </section>

    <div class="links">
        <div class="developers text">
            <p>2023 DataCoffee, Diseñado por Alexander Maestre</p>
        </div>
    </div>
    
</aside>