

<div class="container-footer">

    <div class="footer">

        <div class="container">
            <div class="resume">
                <div class="info">
                    <h2 class="title">¿Quiénes Somos?</h2>
                    <p class="text">
                        Somos una empresa de desarrollo de software 100% vallenata, 
                        contamos con un grupo de ingenieros de sistemas capacitados, 
                        desarrollamos todo tipo de soluciones tecnologicas para tu 
                        negocio con los mas altos estandares de calidad y el mejor precio del mercado.
                    </p>
                </div>
                <div class="contactos">
                    <h2 class="title">Contactos</h2>
                    <div class="contact text">
                        <a href="#" class="icon-text">
                            <img src="../../assets/images/icon-list.svg" alt="Icon List style">
                            +57 3044842422
                        </a>
                        <a href="#" class="icon-text">
                            <img src="../../assets/images/icon-list.svg" alt="Icon List style">
                            ajmaestretorres@gmail.com
                        </a>
                        <a href="#" class="icon-text">
                            <img src="../../assets/images/icon-list.svg" alt="Icon List style">
                            twitter.com
                        </a>
                    </div>
                </div>
                <div class="sigueme">
                    <h2 class="title">Sígueme</h2>
                    <div class="icons">
                        <a href="#" class="icon">
                            <img src="../../assets/images/fb.svg" alt="Icon facebook">
                        </a>
                        <a href="#" class="icon">
                            <img src="../../assets/images/lkn.svg" alt="Icon linkdn">
                        </a>
                        <a href="#" class="icon">
                            <img src="../../assets/images/wp.svg" alt="Icon whatsapp">
                        </a>
                        <a href="#" class="icon">
                            <img src="../../assets/images/ytb.svg" alt="Icon youtube">
                        </a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="tabs text">
                    <a href="#">| Inicio</a>
                    <a href="#">| Nosotros</a>
                    <a href="#">| Servicios</a>
                    <a href="#">| Metodología</a>
                    <a href="#">| Contacto |</a>
                </div>
                <div class="developers text">
                    <span>2023 DataCoffee, Diseñado por Alexander Maestre</span>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
