
<div class="page">

    <aside class="aside left">
        <section class="sect">
            
            <div class="div three">
                <a [routerLink]='"."' fragment="introduction" routerLinkActive="active" class="p three">Introducción</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="selection" routerLinkActive="active" class="p three">Selección de los datos</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="cleaning" routerLinkActive="active" class="p three">Limpieza de los datos</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="formating" routerLinkActive="active" class="p three">Formato de los datos</a>
            </div>
    
        </section>
        
    </aside>

    <app-footer></app-footer>
    
</div>