
<div class="page" *ngIf="modalImgService.open_modal">

    <aside class="aside left">
        <section class="sect two">
            <div id="modal_close">
                <a class="modal_close" (click)="modalImgService.open_modal=false">X</a>
            </div>
            <div id="two-r">
                <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
                <p class="p three r">{{modalImgService.title_modal}}</p>
            </div>
            <div class="r">
                <img src="../../assets/images/{{modalImgService.url_image}}" alt="">
            </div>
        </section>
    </aside>
    
</div>