
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div>
        <p class="p" id="p-one-r">Comprensión de los datos</p>
    </div>

    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    Durante el transcurso de esta etapa de la metodología CRISP-DM 
                    se realizará la búsqueda y obtención inicial de los datos 
                    respectivos para conformar una idea temprana del problema, 
                    conocer a fondo los datos y evaluar su calidad, 
                    como también establecer las posibles relaciones existentes entre ellos. 
                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>