
.sect{
    background-color: white;
    margin: 10px;
    padding: 2rem;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    font-size: .8rem;
}

section div{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 15px 5px 15px;;
    padding: 0;
}

a{
    background-color: white;
    text-decoration: none;
}

.p{
    background-color: white;
    color: #838383;
    margin: 10px 0 10px 0;
    flex: 3;
    font-family: var(--font-family-text);
}

article{
    flex: 7;
}

article section{
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 20px;
    padding: 0 15px 0 15px;
}

article .one div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-one-r{
    margin: 0;
    flex: 30;
    padding: 0.5rem 0;
    font-size: .9rem;
    color: var(--bg-footer);
}

.p.three.r{
    color: var(--bg-footer);
}

.sect.two{
    padding: 1rem;
}

#two-r{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 0 35px;
}

.middle{
    margin: 1rem;
    width: 4rem;
}

.three{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#p-four-r{
    padding: 0 40px 0 20px;
}

.three div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
}

#p-o-r{
    padding-left: 3px;
    margin: 0;
    flex: 30;
}

ul li{
    font-family: var(--font-family-title);
    font-size: .7rem;
    color: #838383;
}