
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Recopilación de datos iniciales</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                La producción de cultivos de café en Colombia a lo largo de la 
                historia ha sido un elemento de gran importancia tanto para 
                la demanda interna como también para la externa. 
                Con el paso de los años las importaciones en esta área han aumentado, 
                como también los factores que limitan la producción de cultivos como, 
                por ejemplo: plagas y enfermedades, variedades de bajos rendimientos, 
                podas inadecuadas, etc.; con la falta de control en la mitigación de 
                todos estos factores puede llegar a ser complicado mantener un buen 
                rendimiento en la producción agrícola a nivel nacional. 
                Los datos utilizados en este proyecto son datos existentes referentes 
                a una base histórica, relacionada con la producción agrícola Nacional, 
                adicionalmente, brinda información agrícola regional y nacional que 
                fortalece procesos productivos y de comercialización. 
                Este conjunto de datos contiene información sobre el departamento y 
                municipio donde se realizaron los cultivos, el grupo y subgrupo del cultivo, 
                el tipo de cultivo, el periodo del cultivo, como alguna otra información que 
                será evaluada más adelante.
            </p>
        </div>
    </section>

    <section class="sect three">
        <div class="r">
            <p class="p four r" id="p-four-r">
                También se utilizará este conjunto datos para extraer solo 
                aquellos registros relacionados con los cultivos de café y 
                determinar en qué zonas del país existe mayor rendimiento. 
                También tendremos en cuenta el estado del cultivo al momento 
                de la cosecha y como esto se relaciona con las demás variables 
                almacenadas en el conjunto de datos. 
                Se realizará primero una selección de aquellos atributos que 
                influyan en el rendimiento, utilizando como datos centrales la 
                base histórica relacionada con la producción agrícola nacional. 
                Luego de seleccionado los atributos de interés, se hará una integración 
                de todos estos en un único conjunto de datos que posteriormente se utilizará 
                para la construcción del modelo.
                El conjunto de datos fue extraído de la página de datos abiertos datos.gov.co, 
                el cual comprende el siguiente archivo:
            </p>
            <ul>
                <li>
                    <a href="https://www.datos.gov.co/Agricultura-y-Desarrollo-Rural/Evaluaciones-Agropecuarias-Municipales-EVA/2pnw-mmge" target="_blank">Rendimiento de cultivos en Colombia por año.</a>
                </li>
            </ul>
        </div>
    </section>
    
</article>