
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Estado del arte</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Resumen</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                A continuación, con el propósito de recopilar información y 
                llegar a un mayor entendimiento de los elementos que conforman el proyecto, 
                se pretende analizar una serie de artículos relacionados con la predicción del 
                rendimiento de cultivos mediante el uso de minería de datos. 
                Se analizará como los autores de estos artículos implementaron sus 
                diferentes soluciones a los problemas que se les presentaron, es decir 
                las metodologías y las herramientas utilizadas, y luego realizaremos 
                comparaciones entre ellos para escoger la que mejor se adapte a nuestra actual problemática.
            </p>
        </div>
    </section>

    <section class="sect three">
        <div class="one three">
            <div class="ot" (click)="load_modal(modal_one)">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/extract.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Minería de Datos para una Agricultura de Precisión</p>
            </div>
            <div class="ot" (click)="load_modal(modal_two)">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/transform.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Predicción del rendimiento de cultivos agrícolas</p>
            </div>
            <div class="ot" (click)="load_modal(modal_three)">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/load.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Predicción del rendimiento de tres gramíneas</p>
            </div>
            <div class="ot" (click)="load_modal(modal_four)">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/load.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Predicción y diversificación de cultivos</p>
            </div>

        </div>
        
    </section>

    <app-modal></app-modal>
    
</article>