
<div class="page">

    <aside class="aside left">
        <section class="sect">
            
            <div class="div three">
                <a [routerLink]='"."' fragment="introduction" routerLinkActive="active" class="p three">Introducción</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="recopilation" routerLinkActive="active" class="p three">Recopilación de datos iniciales</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="description" routerLinkActive="active" class="p three">Descripción de los datos</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="exploration" routerLinkActive="active" class="p three">Exploración de los datos</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="verification" routerLinkActive="active" class="p three">Verificación de la calidad de los datos</a>
            </div>
    
        </section>
        
    </aside>

    <app-footer></app-footer>
    
</div>