
<header class="header">
    <nav class="nav">

        <section class="sect1">
            <img id="iconLogo" src="../../assets/images/logo.svg" alt="Logo data minig" class="img-logo">
        </section>

        <section class="sect2">
            <div class="sect">
                <a id="home" routerLink="home"> Home</a>
            </div>
            <div class="sect">
                <a id="red" routerLink="bisness-comprension"> Comprensión del negocio</a>
            </div>
            <div class="sect">
                <a id="job" routerLink="data-comprension"> Comprensión de los datos</a>
            </div>
            <div class="sect">
                <a id="mess" routerLink="data-preparation"> Preparación de los datos</a>
            </div>
            <div class="sect">
                <a id="news" routerLink="data-modeling"> Modelado</a>
            </div>
            <div class="sect">
                <a id="yo" routerLink="model-evaluation"> Evaluación</a>
            </div>
        </section>

        <section class="sect3">
            <div class="sect">
                <a id="prod" routerLink="models"> Modelos</a>
            </div>
        </section>

    </nav>
</header>