
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Introducción</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">¿Por qué?</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                En la era actual, debido al incremento exponencial de información, ha surgido la necesidad de 
                procesarla, cualificarla y cuantificarla. En el sector agrícola esto no es una excepción; con el 
                crecimiento de la tecnología, la recolección de datos de los diferentes cultivos que se plantan y 
                cosechan en cierta área se ha facilitado, lo que nos brinda una oportunidad de tratar esta nueva 
                cantidad de información y extraer todo aquello que podría sernos útil para futuras referencias. De 
                esta necesidad nace el objetivo de diseñar un modelo de predicción de rendimiento para los 
                cultivos en Colombia, utilizando todas las herramientas que nos brinda la minería de datos. 
            </p>
        </div>
    </section>

    <section class="sect three">
        <div>
            <p class="p" id="p-o-r">ETL</p>
        </div>
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/extract.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Extracción</p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/transform.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Transformación</p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/load.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Carga</p>
            </div>

        </div>
        
    </section>
    
</article>