
<article class="article right" data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Selección de los datos</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                Para el caso de las instancias o registros, 
                estaremos utilizando todo el conjunto de registros que tenemos disponible, 
                un total de 7263 instancias, ya que al tener una mayor cantidad de datos 
                el entrenamiento del modelo podría ser mucho más eficaz. 
                Por otro lado, en el caso de los atributos prescindiremos de algunos de estos, 
                que consideramos no necesarios para la construcción del modelo gracias 
                a la exploración de los datos.
                Para el caso de los atributos GRUPO, GRUPO DE CULTIVO y SUBGRUPO DE CULTIVO, 
                no serán utilizados porque solo son categorías de un solo tipo, 
                lo que hace completamente innecesarios. 
                Lo mismo sucede para los atributos ESTADO FISICO PRODUCCION, 
                DESAGREGACIÓN REGIONAL Y/O SISTEMA PRODUCTIVO y NOMBRE CIENTIFICO, 
                al solo tener una categoría cada uno, los consideramos innecesarios. 
                Para el caso del atributo Rendimiento, al ser un atributo con muchos 
                datos faltantes y que además que consideramos que no es necesario 
                para la futura construcción del modelo predictivo, decidimos prescindir de él.
            </p>
        </div>
    </section>

    <section class="sect three">
        <div class="one three">

            <div class="ot">
                <p class="p st">
                    Departamento
                </p>
                <p class="p">
                    Tipo texto.
                </p>
            </div>
            <div class="ot">
                <p class="p st">
                    Municipio
                </p>
                <p class="p">
                    Tipo texto.
                </p>
            </div>
            <div class="ot">
                <p class="p st">
                    Año
                </p>
                <p class="p">
                    Tipo numérico.
                </p>
            </div>
            <div class="ot">
                <p class="p st">
                    Área Sembrada
                </p>
                <p class="p">
                    Tipo numérico.
                </p>
            </div>
            <div class="ot">
                <p class="p st">
                    Área Cosechada
                </p>
                <p class="p">
                    Tipo numérico.
                </p>
            </div>
            <div class="ot">
                <p class="p st">
                    Producción
                </p>
                <p class="p">
                    Tipo numérico.
                </p>
            </div>

        </div>
        
    </section>

</article>

