
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    Actualmente toda la población permanece interconectada, se encuentra totalmente 
                    acostumbrada cada vez más a usar la tecnología moderna, como son por ejemplo las aplicaciones 
                    para comunicarse con el entorno y las demás personas que los rodean; con este avance de la 
                    tecnología en la comunicación ha llegado al mismo tiempo un incremento en la producción de 
                    información. 
                </p>
            </li>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    Un ejemplo de esta situación son los sensores que monitorean los distintos aspectos 
                    de nuestra vida, el cambio del clima, el rendimiento de los cultivos, la contaminación del aire. 
                    Todos estos sensores generan grandes cantidades de datos que no son fáciles de analizar por 
                    medio de los métodos convencionales.
                </p>
            </li>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    Llegados a este punto, pretendemos analizar las características y variables que se involucran en 
                    todo el proceso que conlleva el desarrollo de diferentes modelos de minería de datos enfocados 
                    en la predicción del rendimiento de cultivos, con el propósito de maximizar la eficiencia en la 
                    producción agrícola nacional.
                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>