
<main class="main">

    <div class="links-content">
        <app-links-cdp></app-links-cdp>
    </div>

    <div class="text-content">
        <app-comprension-home id="introduction"></app-comprension-home>
        <hr>
        <app-data-recopilation id="recopilation"></app-data-recopilation>
        <hr>
        <app-data-description id="description"></app-data-description>
        <hr>
        <app-data-exploration id="exploration"></app-data-exploration>
        <hr>
        <app-data-verification id="verification"></app-data-verification>
    </div>

</main>