
<article class="article right" data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Objetivos</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">¿Para qué?</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                El objetivo principal de este proyecto se enfoca en la aplicación de las diferentes etapas 
                establecidas en la metodología CRISP-DM sobre un conjunto de datos históricos relacionados con 
                la producción agrícola nacional. Mediante esta metodología se pretende diseñar un modelo 
                predictivo para el rendimiento de cultivos en Colombia. Por lo tanto, el proyecto tiene como finalidad aplicar la metodología CRISP-DM al entorno agrícola 
                nacional, mientras que por medio de esta metodología extraemos conclusiones y hacemos 
                predicciones lo más precisas posibles, dentro de lo que permita el modelo desarrollado, partiendo 
                de un conjunto de datos previamente recolectados.
            </p>
        </div>
    </section>

    <section class="sect three">
        <div>
            <p class="p" id="p-o-r">ETL</p>
        </div>
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/extract.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Extracción</p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/transform.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Transformación</p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <img class="icon middle" src="../../../assets/images/load.png" alt="Not found">
                    </div>
                </div>
                <p class="p">Carga</p>
            </div>

        </div>
        
    </section>
    
</article>