
<aside class="aside left">
    <section class="sect">
        
        <div class="div two">
            <a [routerLink]='"."' fragment="introduction" routerLinkActive="active" class="p two">Introducción</a>
        </div>
        <div class="div three">
            <a [routerLink]='"."' fragment="objetives" routerLinkActive="active" class="p three">Objetivos</a>
        </div>
        <div class="div four">
            <p class="p four">Gente que sigo</p>
        </div>
        <div class="div five">
            <p class="p five">Eventos</p>
        </div>

    </section>
</aside>

<app-footer></app-footer>