
<main class="main">

    <div class="links-content">
        <app-links-mp></app-links-mp>
    </div>

    <div class="text-content">
        <app-modeling-home id="introduction"></app-modeling-home>
        <hr>
        <app-selection-modeling-page id="selection"></app-selection-modeling-page>
        <hr>
        <app-generation-comprobation-page id="generation"></app-generation-comprobation-page>
        <hr>
        <app-generation-modeling-page id="modeling"></app-generation-modeling-page>
        <hr>
        <app-evaluation-modeling-page id="evaluation"></app-evaluation-modeling-page>
        <hr>
    </div>

</main>