
.sect{
    background-color: white;
    margin: 10px;
    padding: 2rem;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    font-size: .8rem;
}

section div{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 15px 5px 15px;;
    padding: 0;
}

a{
    background-color: white;
    text-decoration: none;
}

.p{
    background-color: white;
    color: #838383;
    margin: 0;
    flex: 3;
    font-family: var(--font-family-text);
}

article section{
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 20px;
    padding: 0 15px 0 15px;
}

article .one div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-one-r{
    margin: 0;
    flex: 30;
    padding: 0.5rem 0;
    font-size: .9rem;
    color: var(--bg-footer);
}

.p.three.r{
    color: var(--bg-footer);
}

.sect.two{
    padding: 1rem;
}

#two-r{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 0 35px;
}

.middle{
    margin-right: 2rem;
    width: 2rem;
}

#p-four-r{
    padding: 0 40px 0 20px;
}

.three div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#p-o-r{
    padding-left: 3px;
    margin: 0;
}

.ot{
    width: 20%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    background: var(--bg-color);
    cursor: pointer;
    font-size: .6rem;
}

.ot:hover{
    transform: scale(1.1);
    transition: 1s;
}

.ot .div-img{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.st{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-top: .2rem;
}

.st p{
    color: var(--bg-footer);
    font-weight: bold;
}

.ot p{
    margin: 0.2rem;
    padding: 0;
    text-align: center;
    background: transparent;
}

.sect.three{
    padding: 1rem;
    background: url('../../../assets/images/tendencias.jpg');
}

.one.three{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.three .three{
    padding: .2rem;
    margin: .2rem;
}