
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Producción de un plan de proyecto</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                La ejecución del proyecto se realizará en las siguientes etapas, 
                de forma organizada y con una estimación relativa del tiempo requerido: 
            </p>
        </div>
    </section>

    <section class="sect three">
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 1</p>
                    </div>
                </div>
                <p class="p">
                    Análisis de la estructura de los datos, la información recolectada 
                    y su procedencia. 
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 1 semana.</p>
                    </div>
                </div>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 2</p>
                    </div>
                </div>
                <p class="p">
                    Realizar graficas representativas de los datos y determinar 
                    correlación entre las variables.
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 2 semanas.</p>
                    </div>
                </div>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 3</p>
                    </div>
                </div>
                <p class="p">
                    Preparación de los datos.
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 3 semanas.</p>
                    </div>
                </div>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 4</p>
                    </div>
                </div>
                <p class="p">
                    Determinar la técnica de modelado que mejor se ajusta a los datos 
                    y realizar su ejecución.
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 2 semanas.</p>
                    </div>
                </div>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 5</p>
                    </div>
                </div>
                <p class="p">
                    Análisis de los resultados obtenidos en la etapa de modelamiento 
                    y determinar si se requiere regresar a las etapas anteriores. 
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 1 semana.</p>
                    </div>
                </div>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 6</p>
                    </div>
                </div>
                <p class="p">
                    Realizar informes con los resultados obtenidos.
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 1 semana.</p>
                    </div>
                </div>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Etapa 7</p>
                    </div>
                </div>
                <p class="p">
                    Presentación del resultado final.
                </p>
                <div class="div-img">
                    <div class="st">
                        <p class="p">Tiempo estimado: 1 semana.</p>
                    </div>
                </div>
            </div>

        </div>
        
    </section>

    <app-modal></app-modal>
    
</article>