
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div>
        <p class="p" id="p-one-r">Preparación de los datos</p>
    </div>

    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    En esta etapa de la metodología prepararemos los datos 
                    para adecuarlos a las técnicas de minería de datos que se van 
                    a emplear sobre ellos. Seleccionaremos aquellos datos que vamos 
                    a utilizar para la construcción del modelo, realizaremos su 
                    respectiva limpieza, añadiremos nuevos datos de ser necesario 
                    y les daremos el formato adecuado para la fase de modelado.
                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>