
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Compilación de la información de la empresa</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                La importancia de nuestro país para el mundo, en lo que respecta a 
                la producción de alimentos es relativamente grande. 
                El papel protagónico de Colombia para combatir la crisis alimentaria en el mundo, 
                debido al aumento que se estima en la demanda global de alimentos, 
                presenta al país una oportunidad de buscar las mejores técnicas para 
                la producción alimentaria tomando de esta manera ventaja en el mercado actual.
                También es conocido que actualmente el mundo tiene una necesidad urgente 
                de encontrar fuentes alternativas a las tradicionales para la producción de energía, 
                como por ejemplo los biocombustibles, lo que deja a la agricultura ubicada en un 
                punto de gran interés. Sin embargo, existe la posibilidad que este factor no esté 
                siendo aprovechado al máximo por el país. 
            </p>
        </div>
        <div id="two-r">
            <a class="p three r" id="btn-modal" (click)="load_modal()">Más</a>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <a href="https://www.dane.gov.co/files/investigaciones/agropecuario/enda/ena/2019/boletin_ena_2019.pdf" target="_blank"><img class="icon fig-4" src="../../../assets/images/fig_4.png" alt="Not found"></a>
        </div>
        <div class="r">
            <a href="https://www.dane.gov.co/files/investigaciones/agropecuario/enda/ena/2019/boletin_ena_2019.pdf" target="_blank" class="p four r" id="p-fig-4">
                Figura 4. Toneladas de producción por grupos de cultivo. 
            </a>
        </div>
    </section>

    <app-modal></app-modal>
    
</article>
