
<article class="article right">

    <section class="sect one" data-aos="fade-down-right" >
        <div>
            <p class="p" id="p-one-r">Descripción de los datos</p>
        </div>
    </section>

    <section class="sect two" data-aos="fade-down-right" >
        <div class="r">
            <p class="p four r" id="p-four-r">
                Como ya mencionamos, los datos se encuentran alojados en la página 
                de datos abiertos: datos.gov.co, una vez realizada la respectiva 
                descarga de los datos, comenzamos el análisis y descripción de los mismos. 
            </p>
        </div>
    </section>

    <section class="sect two" data-aos="fade-down-right" >
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Rendimiento de cultivos en Colombia por año</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                El conjunto de datos que procederemos a analizar corresponde a 
                una base histórica de los años 2006 a 2018, relacionada con 
                la producción agrícola Nacional. Este es un conjunto de datos 
                estructurados conformado originalmente por 206068 instancias y 
                17 atributos, pero al extraer solo los registros relacionados 
                con los cultivos de café obtenemos solo 7263 instancias con los 
                mismos 17 atributos, los cuales están descritos de la siguiente manera:
            </p>
        </div>
    </section>

    <section class="sect three" data-aos="fade-down-right" >
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Código del departamento</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Código del departamento, según lo establecido por el DANE. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Departamento</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Departamento Colombiano.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Código del municipio</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Código del municipio, según lo establecido por el DANE.
                </p>
            </div>

        </div>
        
    </section>

    <hr>

    <section class="sect three" data-aos="fade-down-right" >
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Año</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Año de producción. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Nombre del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Desagregación regional y/o sistema productivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Nombre genérico del cultivo.
                </p>
            </div>

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Municipio</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Municipio Colombiano.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Grupo de cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Categoría del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Subgrupo de cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Tipo de cultivo según categoría.
                </p>
            </div>

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Área Cosechada (ha)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Área cosechada en hectáreas. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Periodo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Periodo del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Área Sembrada (ha)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Área sembrada en hectáreas.
                </p>
            </div>

        </div>
    </section>

    <hr>

    <section class="sect three" data-aos="fade-down-right" >
        <div class="one three">

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Producción (t)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Toneladas de producción de cultivos. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Rendimiento (t/ha)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Rendimiento de la cosecha. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Estado físico producción</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Estado del producto. 
                </p>
            </div>

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Nombre científico</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Nombre científico del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Ciclo de cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Ciclo del cultivo en el país.
                </p>
            </div>
            
        </div>
    </section>

    
    <section class="sect two" data-aos="fade-down-right" >
        <div class="r">
            <p class="p four r" id="p-four-r">
                El conjunto de datos está formado por 7 atributos de tipo numérico, 
                dentro de los cuales hay 6 enteros y uno de tipo flotante, 
                como también 10 atributos de tipo texto, como podemos visualizar en la información anterior. 
                La variable objetivo, es decir aquella que nos interesará predecir, 
                es el rendimiento, que es medida o calculada de acuerdo al número de 
                toneladas producidas entre el número de hectáreas cosechadas.
            </p>
        </div>
    </section>
    
</article>

<hr>

<!-- ANALISIS ESTADISTICO DE LOS ATRIBUTOS NUMERICOS -->
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Análisis estadístico</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                En la tabla 1 podemos ver que los datos tienden a dispersarse en 
                al menos un valor de 0.41 toneladas por hectárea, indicándonos 
                que existe cierta dispersión en los datos. Según esto, podemos 
                interpretar que para el atributo rendimiento tenemos un valor 
                promedio de 0.92 toneladas por hectárea, pero hay valores que se 
                desvían de esta media en al menos 0.41 toneladas por hectárea, 
                es decir, que puede haber datos con un rendimiento mayor a 1.33 
                toneladas por hectárea u otros con un rendimiento menor a 0.51 
                toneladas por hectárea.

                Para el atributo Producción obtuvimos una media aritmética de 1267.42 
                y una desviación estándar de 1958.13, lo que nos indica que para este 
                atributo hay datos que se encuentran relativamente más dispersos que 
                para el atributo rendimiento. Como podemos observar en la tabla 1, 
                hay valores que alcanzan las 5000 toneladas e incluso las 10000 toneladas 
                comprobando que existe una dispersión para el atributo producción debido 
                posiblemente a datos faltantes o atípicos en el conjunto de datos.

                Para el área cosechada obtuvimos una media de 1251.34 y una desviación 
                estándar de 1724.63, esto nos indica que para este atributo también hay 
                una dispersión considerable, aunque menor que la encontrada en el atributo producción. 
                Para este atributo, según la desviación estándar obtenida, puede haber datos 
                con valores superiores a las 3000 hectáreas, esto nos indica que hay valores 
                que se encuentran mucho más dispersos con respecto a la media aritmética del 
                conjunto de datos.
            </p>
        </div>
    </section>

    <section class="sect two">
        
        <div id="two-r">
            <div id="table">
                <p class="col-name">Atributo</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.c_d_dep | keyvalue">
                <p class="col-name">{{atr.key}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Código dept.</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.c_d_dep | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Código mun.</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.c_d_mun | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Año</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.a_o | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Area semb.</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.rea_sembrada_ha | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Area cose.</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.rea_cosechada_ha | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Producción</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.producci_n_t | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div id="two-r">
            <div id="table">
                <p class="col-name">Rendimiento</p>
            </div>
            <div id="table" *ngFor="let atr of numAtr.rendimiento_t_ha | keyvalue">
                <p class="col-name">{{atr.value}}</p>
            </div>
        </div>
        <div class="r" id="legend">
            <a href="https://www.dane.gov.co/files/investigaciones/agropecuario/enda/ena/2019/boletin_ena_2019.pdf" target="_blank" class="p four r" id="p-fig-4">
                Tabla 1. Resumen estadístico de los datos numéricos
            </a>
        </div>
    </section>
    
</article>

<hr>

<!-- MODA PARA LOS ATRIBUTOS CATEGORICOS (DEPARTAMENTO) -->
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Moda para los atributos categóricos</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Departamento</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                Para el atributo departamento la moda o el dato que más 
                se repite es 'ANTIOQUIA', como podemos ver en el gráfico 1. 
                Esto nos indica que, para este conjunto de datos, que corresponde 
                a una base histórica de los años 2006 a 2018 relacionada con la producción 
                agrícola Nacional de café, el departamento que reportó la mayor cantidad 
                de cultivos en el intervalo de estos años fue el departamento de Antioquia, 
                con un total de instancias de 1099 cultivos de café, seguido por los 
                departamentos de Santander y Cundinamarca con 855 y 821 cultivos de café respectivamente.
            </p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon fig-4" src="../../../assets/images/grafica_1.png" alt="Not found">
        </div>
        <div class="r">
            <p class="p four r" id="p-fig-4">
                Gráfico 1: Moda para el atributo DEPARTAMENTO 
            </p>
        </div>
    </section>
    
</article>

<hr>

<!-- MODA PARA LOS ATRIBUTOS CATEGORICOS (MUNICIPIO) -->
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Municipio</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                En el caso del atributo municipio se observa que la moda es 'ARGELIA', 'GUADALUPE' 
                y 'BOLIVAR', en una misma proporción, es decir, los cultivos registrados en el 
                conjunto de datos se concentran más en estos tres municipios. 
                Este resultado nos indica que los municipios de Argelia, Guadalupe y Bolívar, 
                que corresponden o pertenecen al departamento de Antioquia, fueron los que 
                reportaron la mayor cantidad de cultivos de café entre los años 2006 a 2018, 
                con un total de 36 instancias por igual para cada municipio. 
                
                Esta información la podemos corroborar en el gráfico 2, 
                en donde podemos apreciar que los tres municipios antes mencionados 
                se puntean como los primeros en la lista, seguidos por los municipios de Santa María, 
                San Bernardo, San Cayetano, San Francisco, Buenavista, Pueblo Rico y Briceño, 
                con la misma cantidad de 24 instancias cada uno.
            </p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon fig-4" src="../../../assets/images/grafica_2.png" alt="Not found">
        </div>
        <div class="r">
            <p class="p four r" id="p-fig-4">
                Gráfico 2: Moda para el atributo MUNICIPIO 
            </p>
        </div>
    </section>
    
</article>

<hr>

<!-- MODA PARA LOS ATRIBUTOS CATEGORICOS (ESTADO FISICO PRODUCCION y CICLO DE CULTIVO) -->
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Estado físico de producción y ciclo de cultivo</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                Para el atributo ciclo de cultivo obtenemos que el más utilizado es el permanente. 
                En el caso del estado físico de producción el que más se repite es el café verde equivalente. 
                En cuanto al ciclo de cultivo, podemos ver en la gráfica 6 que el total de 
                cultivos de café corresponden a 7263 tipos de cultivos permanentes, 
                que se tratan de cultivos que después de plantados llegan en un tiempo 
                relativamente largo a la edad productiva, dan muchas cosechas y terminada su 
                recolección no se los debe plantar de nuevo. Para el estado físico de la producción, 
                se reportan que el total de 7263 instancias corresponden a café verde, 
                que es el insumo básico para la elaboración del café tostado, el soluble y los extractos de café, 
                y es la forma más común en la que es exportado a otros países.
            </p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon fig-4" src="../../../assets/images/grafica_3.png" alt="Not found">
        </div>
        <div class="r">
            <p class="p four r" id="p-fig-4">
                Gráfico 3: Moda para los atributos ESTADO FISICO PRODUCCION y CICLO DE CULTIVO 
            </p>
        </div>
    </section>
    
</article>

<hr>

<!-- MODA PARA LOS ATRIBUTOS CATEGORICOS (PERIODO) -->
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Periodo</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                Para el atributo PERIODO, vemos que la moda se concentra en el año 2011. 
                Esto nos indica que entre los años 2006 a 2018 el periodo en el que se 
                reportó una mayor cantidad de cultivos de café a nivel nacional fue en el 
                2011 con un total de 627 instancias. Esto lo podemos observar en el grafico 7, 
                donde se indica que el periodo que corresponde al 2011 es el que se posiciona 
                en primer lugar; seguido a este periodo tenemos el 2012, 2010 y 2009 con un 
                total de 625, 620 y 614 instancias respectivamente. En el grafico 8 también 
                podemos apreciar como la cantidad de reporte de cultivos se disparó entre 
                2010 a 2012, seguido después de una disminución para el año 2014.
            </p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon fig-4" src="../../../assets/images/grafica_4.png" alt="Not found">
        </div>
        <div class="r">
            <p class="p four r" id="p-fig-4">
                Gráfico 4: Moda para el atributo PERIODO
            </p>
        </div>
    </section>
    
</article>
