
<article class="article right">

    <section class="sect one" data-aos="fade-down-right" >
        <div>
            <p class="p" id="p-one-r">Descripción de los datos</p>
        </div>
    </section>

    <section class="sect two" data-aos="fade-down-right" >
        <div class="r">
            <p class="p four r" id="p-four-r">
                Como ya mencionamos, los datos se encuentran alojados en la página 
                de datos abiertos: datos.gov.co, una vez realizada la respectiva 
                descarga de los datos, comenzamos el análisis y descripción de los mismos. 
            </p>
        </div>
    </section>

    <section class="sect two" data-aos="fade-down-right" >
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/logo.svg" alt="Not found">
            <p class="p three r">Rendimiento de cultivos en Colombia por año</p>
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                El conjunto de datos que procederemos a analizar corresponde a 
                una base histórica de los años 2006 a 2018, relacionada con 
                la producción agrícola Nacional. Este es un conjunto de datos 
                estructurados conformado originalmente por 206068 instancias y 
                17 atributos, pero al extraer solo los registros relacionados 
                con los cultivos de café obtenemos solo 7263 instancias con los 
                mismos 17 atributos, los cuales están descritos de la siguiente manera:
            </p>
        </div>
    </section>

    <section class="sect three" data-aos="fade-down-right" >
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Código del departamento</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Código del departamento, según lo establecido por el DANE. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Departamento</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Departamento Colombiano.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Código del municipio</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Código del municipio, según lo establecido por el DANE.
                </p>
            </div>

        </div>
        
    </section>

    <hr>

    <section class="sect three" data-aos="fade-down-right" >
        <div class="one three">
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Año</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Año de producción. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Nombre del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Desagregación regional y/o sistema productivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Nombre genérico del cultivo.
                </p>
            </div>

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Municipio</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Municipio Colombiano.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Grupo de cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Categoría del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Subgrupo de cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Tipo de cultivo según categoría.
                </p>
            </div>

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Área Cosechada (ha)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Área cosechada en hectáreas. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Periodo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Periodo del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Área Sembrada (ha)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Área sembrada en hectáreas.
                </p>
            </div>

        </div>
    </section>

    <hr>

    <section class="sect three" data-aos="fade-down-right" >
        <div class="one three">

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Producción (t)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Toneladas de producción de cultivos. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Rendimiento (t/ha)</p>
                    </div>
                </div>
                <p class="p">
                    Tipo numérico. Rendimiento de la cosecha. 
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Estado físico producción</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Estado del producto. 
                </p>
            </div>

            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Nombre científico</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Nombre científico del cultivo.
                </p>
            </div>
            <div class="ot">
                <div class="div-img">
                    <div class="st">
                        <p class="p">Ciclo de cultivo</p>
                    </div>
                </div>
                <p class="p">
                    Tipo texto. Ciclo del cultivo en el país.
                </p>
            </div>
            
        </div>
    </section>

    
    <section class="sect two" data-aos="fade-down-right" >
        <div class="r">
            <p class="p four r" id="p-four-r">
                El conjunto de datos está formado por 7 atributos de tipo numérico, 
                dentro de los cuales hay 6 enteros y uno de tipo flotante, 
                como también 10 atributos de tipo texto, como podemos visualizar en la información anterior. 
                La variable objetivo, es decir aquella que nos interesará predecir, 
                es el rendimiento, que es medida o calculada de acuerdo al número de 
                toneladas producidas entre el número de hectáreas cosechadas.
            </p>
        </div>
    </section>
    
</article>

<hr>

<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Análisis estadístico</p>
        </div>
    </section>

    <section class="sect two">
        <div class="r">
            <p class="p four r" id="p-four-r">
                En la tabla 1 podemos ver que los datos tienden a dispersarse en 
                al menos un valor de 0.41 toneladas por hectárea, indicándonos 
                que existe cierta dispersión en los datos. Según esto, podemos 
                interpretar que para el atributo rendimiento tenemos un valor 
                promedio de 0.92 toneladas por hectárea, pero hay valores que se 
                desvían de esta media en al menos 0.41 toneladas por hectárea, 
                es decir, que puede haber datos con un rendimiento mayor a 1.33 
                toneladas por hectárea u otros con un rendimiento menor a 0.51 
                toneladas por hectárea.

                Para el atributo Producción obtuvimos una media aritmética de 1267.42 
                y una desviación estándar de 1958.13, lo que nos indica que para este 
                atributo hay datos que se encuentran relativamente más dispersos que 
                para el atributo rendimiento. Como podemos observar en la tabla 1, 
                hay valores que alcanzan las 5000 toneladas e incluso las 10000 toneladas 
                comprobando que existe una dispersión para el atributo producción debido 
                posiblemente a datos faltantes o atípicos en el conjunto de datos.

                Para el área cosechada obtuvimos una media de 1251.34 y una desviación 
                estándar de 1724.63, esto nos indica que para este atributo también hay 
                una dispersión considerable, aunque menor que la encontrada en el atributo producción. 
                Para este atributo, según la desviación estándar obtenida, puede haber datos 
                con valores superiores a las 3000 hectáreas, esto nos indica que hay valores 
                que se encuentran mucho más dispersos con respecto a la media aritmética del 
                conjunto de datos.
            </p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <a href="https://www.dane.gov.co/files/investigaciones/agropecuario/enda/ena/2019/boletin_ena_2019.pdf" target="_blank"><img class="icon fig-4" src="../../../assets/images/fig_4.png" alt="Not found"></a>
        </div>
        <div class="r">
            <a href="https://www.dane.gov.co/files/investigaciones/agropecuario/enda/ena/2019/boletin_ena_2019.pdf" target="_blank" class="p four r" id="p-fig-4">
                Figura 4. Toneladas de producción por grupos de cultivo. 
            </a>
        </div>
    </section>
    
</article>
