
<main class="main">

    <div class="links-content">
        <app-links-bp></app-links-bp>
    </div>

    <div class="text-content">
        <app-business-home id="introduction"></app-business-home>
        <hr>
        <app-business-objetives id="objetives"></app-business-objetives>
        <hr>
        <app-business-information id="enterprise"></app-business-information>
        <hr>
        <app-business-definition id="definition"></app-business-definition>
        <hr>
        <app-business-determination id="determination"></app-business-determination>
        <hr>
        <app-business-estate id="estate"></app-business-estate>
        <hr>
        <app-business-plan id="plan"></app-business-plan>
    </div>

</main>