
<article class="article right">

    <section class="sect two" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    
    <div>
        <p class="p" id="p-one-r">Comprensión del negocio</p>
    </div>

    <div class="r">

        <ul>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    En la era actual, debido al incremento exponencial de información, 
                    ha surgido la necesidad de procesarla, cualificarla y cuantificarla. 
                    En el sector agrícola esto no es una excepción; con el crecimiento 
                    de la tecnología, la recolección de datos de los diferentes cultivos 
                    que se plantan y cosechan en cierta área se ha facilitado, lo que nos 
                    brinda una oportunidad de tratar esta nueva cantidad de información y 
                    extraer todo aquello que podría sernos útil para futuras referencias. 
                </p>
            </li>
            <li>
                <div class="img">
                    <img src="../../../assets/images/cloud-2.svg" alt="">
                </div>
                <p class="p four r" id="p-four-r">
                    En esta sección de la metodología CRISP-DM haremos un seguimiento 
                    a todas las tareas en la minería de datos que tienen como finalidad 
                    determinar los objetivos y requisitos del proyecto desde un punto de 
                    vista comercial, con el propósito de transformarlos en objetivos 
                    técnicos dentro de un plan de proyecto.
                </p>
            </li>
        </ul>

    </div>

    </section>
    
</article>