
<div class="page">

    <aside class="aside left">
        <section class="sect">
            
            <div class="div three">
                <a [routerLink]='"."' fragment="introduction" routerLinkActive="active" class="p three">Introducción</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="selection" routerLinkActive="active" class="p three">Selección de técnicas de modelado</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="generation" routerLinkActive="active" class="p three">Generación de un diseño de comprobación</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="modeling" routerLinkActive="active" class="p three">Generación de los modelos</a>
            </div>
            <div class="div three">
                <a [routerLink]='"."' fragment="evaluation" routerLinkActive="active" class="p three">Evaluación del modelo</a>
            </div>
    
        </section>
        
    </aside>

    <app-footer></app-footer>
    
</div>