
<article class="article right"  data-aos="fade-down-right" >

    <section class="sect one">
        <div>
            <p class="p" id="p-one-r">Definición de los objetivos comerciales</p>
        </div>
    </section>

    <section class="sect two">
        <div id="two-r">
            <img class="icon middle" src="../../../assets/images/fixed.svg" alt="Not found">
        </div>
        <div class="r">
            <p class="p four r" id="p-four-r">
                A nivel nacional se debería priorizar aquellos cultivos 
                que podrían tener una mayor oportunidad de impulsar 
                el crecimiento del sector agrícola, por medio de la aplicación 
                de las diferentes herramientas de análisis cualitativo y cuantitativo.  
                Para identificar qué tipo de cultivos se deberían priorizar, 
                hay que tener en cuenta qué tanto potencial tiene el producto 
                en el mercado internacional, y que tan competitivo es a nivel de la producción local.
                También se debe de contemplar no sólo aquellos cultivos 
                que sean económicamente beneficiosos para el país, 
                sino también encontrar otros cultivos que se puedan 
                incorporar para incrementar la diversidad y sostenibilidad agrícola. 
                En consecuencia, se requiere de técnicas que nos proporcionen 
                oportunidades de incrementar la certeza sobre la producción agrícola, 
                como también identificar áreas potencialmente agrícolas que proyecten 
                la sostenibilidad y diversificación de cultivos. 
            </p>
        </div>
    </section>

    <section class="sect three">
        <div class="r">
            <p class="p four r" id="p-four-r">
                Con lo presente en lo anterior se establecen los siguientes objetivos:
            </p>
            <ul>
                <li>
                    Mejorar el rendimiento de producción de cultivos de café a un nivel general.
                </li>
                <li>
                    Determinar que departamentos son más rentables para la producción de café.
                </li>
                <li>
                    Determinar qué condiciones son las más ideales para el cultivo de café.
                </li>
            </ul>
        </div>
    </section>
    
</article>